body{background-color: gray; text-align:center;}

#tituloprincipal{color:red; background:white;font-size: 20px;text-decoration: underline blue;}
.azul{color:blue; background-color: lightblue; front-size: 15px;text-decoration: underline white;}
.purple {color:green; background: lightgreen;front-size:10px; }
